<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="fsv2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <fsv2.My.MySettings>
            <setting name="Connection" serializeAs="String">
                <value>server=103.118.16.236;user id=mpnmjeca_feedback;port=3306;database=mpnmjeca_feedback;password=mpnmjec.ac.in;persistsecurityinfo=True;allowuservariables=True</value>
            </setting>
        </fsv2.My.MySettings>
    </applicationSettings>
</configuration>